.wrapper {
    display: grid;
    border:5px solid green;
    width: 500px;
    color: white;
    font-weight:bold;
    font-size:1.5em;
    grid-template-columns: repeat(3, 90px);
    justify-content: center;
    grid-row-gap:10px;
    grid-column-gap:10px;
}
    
h2{
    height: 20px;
}

  
  
  .box1 {
    grid-column: 1/ span 3;
    background-color: blueviolet;
    
    border: 5px solid yellow;
    
  }
  
  .box2 {
    grid-column-start: 1;

    grid-row: 2/ span 2;
    background-color: blueviolet;
    
    border:5px solid yellow;
    
  }
 .box3 {
   grid-column: 2/ span 2;
   
   grid-row-start: 2;
   background-color: blueviolet;

    border:5px solid yellow;
  }
    
  .box4 {
    background-color: blueviolet;
    border:5px solid yellow;
  }
    
  .box5 {
    background-color: blueviolet;
    border:5px solid yellow;
    
  }
